@font-face 
{
    font-family:"KiwiMaru-Regular";
    src: url("KiwiMaru-Regular.ttf");
    font-family:"Redressed-Regular";
    src: url("Redressed-Regular.ttf");    
}
*
{
   font-family: "kiwimaru_regular";
    background-color: #185EC4;
    color: #fff
}
h1
{
    font-size: 3vw;
    padding: 1vw;
    margin: 1vw;
}
img
{
    width: 10vw;
    height: 10vw;
}
h2
{
    font-size: 2vw;
    padding: 1vw;
    margin: 1vw;
}
p
{
    font-size: 2vw;
    padding: 1vw;
    margin: 1vw;
}
strong
{
    color: #E16156;
}